config screen 'main'
	option enabled '1'
	option fb_device ''
	option scroll_type 'slide_up'
	option default_delay '5000'
	option skip_boot '0'
	option skip_splash '0'

config page 'system_info'
	option enabled '1'
	option delay '5000'
	option order '1'

config page 'system_status'
	option enabled '1'
	option delay '5000'
	option order '2'

config page 'network_info'
	option enabled '1'
	option delay '5000'
	option order '3'

config page 'modem_info'
	option enabled '1'
	option delay '5000'
	option order '4'

config page 'modem_signal'
	option enabled '1'
	option delay '5000'
	option order '5'
